<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/pages/studyspace.css'>
</head>
<body>
  <section
    class='spinner'
  >
    <section
      class='logo'
    >
      MyStudySpace
    </section>
  </section>
  <main>
    <% include ../partials/navigation %>
    <% include ../partials/menu %>
    <section
      class='container'
    >
      <section
        class='other-studyspaces-container'
      >
        <h1>
          Studyspaces
        </h1>
        <ul>
        <% studyspaces.map((studyspaceItem) => { %>
          <li>
          <% if (studyspaceItem._id.equals(studyspace._id)) { %>
              <a
                class='current'
                href='/studyspaces/<%= studyspaceItem._id %>'
              >
                <%= studyspaceItem.name %>
              </a>
          <% } else { %>
              <a
                href='/studyspaces/<%= studyspaceItem._id %>'
              >
                <%= studyspaceItem.name %>
              </a>
          <% } %>
          </li>
        <% }); %>
        </ul>
      </section>
      <section
        class='studyspace-container'
      >
        <h1>
          <%= studyspace.name %>
        </h1>
        <section
          class='content-container'
        >
          <img 
            alt='<%= studyspace.name %>'
            src='<%= studyspace.image %>' 
          />
          <section
            class='info-container'
          >
            <section
              class='left-container'
            >
              <p>
                <%= studyspace.type %>
              </p>
              <p>
                Address: <%= studyspace.address %>
              </p>
              <p>
                Postal Code: <%= studyspace.postalCode %>
              </p>
              <p>
                City: <%= studyspace.city %>
              </p>
              <p>
                Province: <%= studyspace.province %>
              </p>
              <p>
                Website:
                <% if (studyspace.website === 'N/A') { %>
                  <span>
                    <%= studyspace.website %>
                  </span>
                <% } else { %>
                  <a 
                    class='text-button-normal'
                    href='<%= studyspace.website %>' 
                    target='_blank'
                  >
                    <%= studyspace.website %>
                  </a>
                <% } %>
              </p>
              <p>
                Phone: <%= studyspace.phone %>
              </p>
            </section>
            <section
              class='right-container'
            >
              <p>
                Rating: <%= studyspace.rating %> / 5
              </p>
              <% if (studyspace.url !== 'N/A') { %>
                <p>
                  <a
                    class='text-button-normal'
                    href='<%= studyspace.url %>'
                    target='_blank'
                  >
                    Find on Google Maps
                  </a>
                </p>
              <% } %>
            </section>
          </section>
        </section>
        <section
          class='comments-section'
        >
          <section
            class='new-comment-container'
          >
            <button
              class='button-normal'
              id='button'
            >
              Add New Comment
            </button>
            <section
              class='form-container'
            >
              <form
                action='/studyspaces/<%= studyspace._id %>/comments'
                method='POST'
              >
                <input 
                  class='input-normal'
                  type='text'
                  placeholder='Enter a new comment here...'
                  name='comment'
                />
                <section
                  class='submit-container'
                >
                  <input 
                    class='button-normal'
                    id='submit'
                    type='submit'
                    value='Submit'
                  />
                  <button
                    id='cancel-btn'
                    class='button-normal cancel-btn'
                  >
                    Cancel
                  </button>
                </section>
              </form>
            </section>
          </section>
          <section
            class='comments-container'
          >
          <% comments.map((comment, index) => { %>
            <section
              class='single-comment-container'
            >
              <section
                class='header-section'
              >
                <h3>
                  <%= authors[index] %>
                </h3>
                <h3
                  class='date'
                >
                  <%= dates[index] %>
                </h3>
              </section>
            <% if (comment.author === user.username) { %>
              <p>
                <%= comment.text %>
              </p>
              <section
                class='comment-buttons-container'
              >
                <a
                  class='button-normal edit-button'
                  href='/studyspaces/<%= studyspace._id %>/comments/<%= comment._id %>/edit'                
                >
                  Edit
                </a>
                <form
                  class='delete-form'
                  action='/studyspaces/<%= studyspace._id %>/comments/<%= comment._id %>?_method=DELETE'
                  method='POST'
                >
                  <input 
                    class='button-normal'
                    type='submit'
                    value='Delete'
                  />
                </form>
              </section>
              <% } else { %>
                <p
                  class='remove-bottom-margin'
                >
                  <%= comment.text %>
                </p>
              <% } %>
            </section>
          <% }); %>
          </section>
        </section>
      </section>
    </section>
  </main>
  <script
    src='/scripts/pages/drawermenu.js'
  >
  </script>
  <script
    async
    defer
    src='/scripts/pages/studyspace.js'
  >
  </script>
</body>
</html>